:root {
  --white: antiquewhite;
  --blue: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
  }
  
  header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
  }

  main {
    margin: 0 auto;
    border: solid;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 10px;
    justify-content: center;
  }
  

  h1,
  h2{
    font-size: 1.5rem;
  }
  
  ul {
    list-style: none;
  }
