:root {
  --white: antiquewhite;
  --blue: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
  }
  
  header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
  }

  main {
    margin: 0 auto;
    border: solid;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    padding: ;
    justify-content: center;
  }
  

  h1,
  h2{
    margin: 
    font-size: 1.5rem;
  }
  
  p {
    margin: 10px;
    padding: 20px;
  }

  ul {
    margin-bottom: 20px;
  }

  li {
    padding: 5px;
    margin: 10px;
    width: 25rem;
    text-align: left;
    justify-content: left;
  }

  .lstBtn {
    padding: 5px;
    margin: 5px;
  }

  .lstItem {

  }

  .answerConfirm {
    margin-top: 20px;
  }