:root {
  --ivory: ivory;
  --blue: blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
  }
  
  header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
  }

  main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 200px;
    border: solid;
    padding: 10px;
    justify-content: center;
  }
  
  hr {
    width: 50%;
    text-align: center;
  }

  .quizCard {
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
  }
  
  input,
  select,
  option,
  optgroup,
  textarea,
  button,
  pre,
  code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol,
  ul {
    list-style: none;
  }
  